<%= form_for @ad, :url => user_ad_path(current_user, @ad), :method => :patch do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div><%= f.label :title %><br />
    <%= f.text_field :title %></div>

    <div><%= f.label :postcode %><br />
    <%= f.text_field :postcode %></div>

    <div><%= f.label :city %><br />
    <%= f.text_field :city %></div>

    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>

    <h3>Bid Information</h3>

    <blockquote>Note: This Ad is already active, so you can not edit his actual bid price.</blockquote>

    <div><%= f.label :starting_price %><br />
    <%= f.text_field :starting_price, :readonly => :true, :class => 'bid-starting-price' %></div>

    <div><%= f.label :buy_now_price %><br />
    <%= f.text_field :buy_now_price %></div>

    <h3>Car Information</h3>
    <div><%= f.label :car_make %><br />
    <%= f.fields_for :car do |car| %>
      <%= car.collection_select :make_id, Make.order(:name), :id, :name, :prompt => "Select Make" %>
    </div>

    <div><%= car.label :car_model %><br />
      <%= car.collection_select :model_id, Model.order(:name), :id, :name, :prompt => "Select Model" %>
    </div>

    <div><%= car.label :engine %><br />
    <%= car.select :engine, engine %></div>

    <div><%= car.label :power %><br />
    <%= car.select :hp, power %></div>

    <div><%= car.label :fuel_type %><br />
    <%= car.select :fuel_type, fuel_type %></div>

    <div><%= car.label :age %><br />
    <%= car.select :age, (1960..Date.today.year).to_a %></div>

    <div><%= car.label :style %><br />
    <%= car.select :style, style %></div>

    <div><%= car.label :color %><br />
    <%= car.select :color, color %></div>

    <% end %>

    <div><%= f.label :description %><br />
    <%= f.text_area :description %></div>

    <div><%= f.label :upload_pictures %><br />
    <div class="row">
        <section class="panel large-10 large-centered medium-10 medium-centered medium-offset-1 clearfix">
          <dd>
            <%= f.fields_for :images do |img| %>
              <% if img.object.carphoto.thumb.url %>
                <dl class="large-2 medium-2 columns"><img src="<%= img.object.carphoto.thumb.url %>">
                <%= img.check_box :_destroy %> Remove</dl>
              <% else %>
                <dl class="large-4 medium-4 columns"><%= img.file_field :carphoto %></dl>
              <% end %>
            <% end %>
          </dd>
        </section>
    </div>
    <div><%= f.submit "Update Ad", :class => "button [success small radius round]" %></div>

<% end %>

    <p>Sold it already? <%= button_to "Remove my add", user_ad_path(:user_id => current_user.id, :id => @ad.id), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "button [success alert small radius round]"  %></p>

