<%= form_for @ad, :url => user_ads_path(current_user, @ad), :method => :post do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div><%= f.label :title %><br />
    <%= f.text_field :title %></div>

    <div><%= f.label :car_make %><br />
    <%= f.fields_for :car do |car| %>
      <%= car.collection_select :make_id, Make.order(:name), :id, :name, :prompt => "Select Make" %>
    </div>

    <div><%= car.label :car_model %><br />
      <%= car.collection_select :model_id, Model.order(:name), :id, :name, :prompt => "Select Model" %>
    </div>

    <div><%= car.label :engine %><br />
    <%= car.select :engine, engine %></div>

    <div><%= car.label :power %><br />
    <%= car.select :hp, power %></div>

    <div><%= car.label :fuel_type %><br />
    <%= car.select :fuel_type, fuel_type %></div>

    <div><%= car.label :age %><br />
    <%= car.select :age, (1960..Date.today.year).to_a %></div>

    <div><%= car.label :style %><br />
    <%= car.select :style, style %></div>

    <div><%= car.label :color %><br />
    <%= car.select :color, color %></div>

    <% end %>
    <div><%= f.label :description %><br />
    <%= f.text_area :description %></div>

    <div><%= f.label :upload_pictures %><br />
    <%= f.fields_for :images do |img| %>
      <%= img.file_field :carphoto %>
    <% end %>
    <div><%= f.submit "Publish", :class => "button [success small radius round]" %></div>

<% end %>

