<%= form_for @ad, :url => user_ads_path(current_user, @ad), :method => :post do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div><%= f.label :title %><br />
    <%= f.text_field :title %></div>

    <div><%= f.label :description %><br />
    <%= f.text_area :description %></div>

    <div><%= f.submit "Publish", :class => "button [success small radius round]" %></div>
<% end %>

