<div class="row">
  <section class="large-9 columns">
    <h1><%= @ad.title %></h1>
    <div class="row">
      <div class="large-6 left image-holder">
        <a href="<%= @ad.images.first.carphoto_url %>"><img src="<%= @ad.images.first.carphoto.main.url %>" class="ad-main-image"></a>
      </div>
      <section class="large-6 columns bidder-wrap">
        <div class="panel bidder">
          <dl>
            <% if @ad.user.id == current_user.id %>
              <dd>Ending in: <strong><em><%= distance_of_time_in_words(@ad.created_at, @ad.ends) %></em></strong></dd>
              <dd>Currently there are <strong><em><%= @ad.bids.count %></em></strong> bids on <strong>your</strong> ad.</dd>
              <dd>Highest Bid: <strong>£ <%= @ad.top_bid %></strong></dd><br/>
              <dd>Would you like to edit this Ad?
                <dd><%= button_to "Edit Ad", edit_user_ad_path(:user_id => current_user.id, :id => @ad.id), :method => :get, :class => "button [success small radius round]"  %></dd>
                <% else %>
                <dd>Ending in: <strong><em><%= distance_of_time_in_words(@ad.created_at, @ad.ends) %></em></strong></dd>
                <dd>Currently there are <strong><em><%= @ad.bids.count %></em></strong> bids on this ad.</dd><br/>
                <dd>Highest Bid: <strong>£ <%= @ad.top_bid %></strong></dd>
                <%= form_for @bid, :url => bids_path(current_user, @ad) do |f| %>
                  <%= f.text_field :highest, :placeholder => "Insert your bid here" %>
                  <%= f.hidden_field :ad_id, :value => @ad.id %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.submit "Place Bid", :class => "button [success small radius round]" %>
                  <% end %>
              <% end %>
            </dl>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="panel large-12 columns">
          <ul class="clearing-thumbs" data-clearing>
            <% @ad.images.each do |image| %>
            <li class="image-thumb"><a href="<%= image.carphoto_url %>"><img src="<%= image.carphoto.thumb.url %>"></a></li>
            <% end %>
          </ul>
        </section>
      </div>
      <div class="row">
        <section class="large-12 columns panel car-info">
          <dd>
            <dt><h4>Car Info</h4></dt>
            <dl><strong>Make</strong>: <%= @ad.car.make.name %></dl>
            <dl><strong>Model</strong>: <%= @ad.car.model.name %></dl>
            <dl><strong>Engine</strong>: <%= @ad.car.engine %></dl>
            <dl><strong>Power</strong>: <%= @ad.car.hp %></dl>
            <dl><strong>Year</strong>: <%= @ad.car.age %></dl>
            <dl><strong>Fuel Type</strong>: <%= @ad.car.fuel_type %></dl>
            <dl><strong>Style</strong>: <%= @ad.car.style %></dl>
            <dl><strong>Color</strong>: <%= @ad.car.color %></dl>
          </dd>
        </section>
      </div>
      <div class="row">
        <section class="large-12 columns panel car-info">
          <dd>
            <dt><h4>Car Location</h4></dt>
            <dl><strong>City</strong>: <%= @ad.city %></dl>
            <dl><strong>Model</strong>: <%= @ad.postcode %></dl>
          </dd>
        </section>
      </div>
      <div class="row">
        <h3>Car Description</h3>
        <p class="text-justify"><%= @ad.description %></p>
      </div>
    </section>
    <div class="large-3 columns right">
      <div class="panel ad-user-info">
        <h3>Seller Info:</h3>
        <%= image_tag gravatar_picture_url(@ad.user, 120), :class => "ad-user-picture" %>
        <dl>
          <dd>Nick: <%= link_to @ad.user.nick, user_profiles_path(@ad.user) %></dd>
          <% unless @ad.user.id == current_user.id %>
            <div class="row">
            <dd><h4>Contact:</h4></dd>
              <div class="large-12 left">
                <%= form_for @message, :url => messages_path(current_user, @message) do |f| %>
                  <%= render :partial => 'messages/new_message', :locals => { :message => @message, :ad => @ad, :f => f } %>
                <% end %>
              </div>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  </div>