<h1>User Information</h1>

Nick: <%= @profile.user.nick %>
Name: <%= @profile.user.name %>
Email: <%= @profile.user.email %>

Bio: <%= @profile.bio %>


<%= link_to_if current_user, "Edit", edit_user_profile_path(current_user, current_user.profile) %>