<div class="row">
  <h1><strong><em><%= @profile.user.nick %></em></strong> Profile</h1>
  <section class="large-12 large-centered columns profile">
      <div class="row">
        <div class="large-3 columns">
          <%= image_tag gravatar_picture_url(@profile.user, 250), :class => "profile-picture right" %>
          <div class="row">
            <div class="profile-ratings panel">
              <h4>Ratings:</h4>
              <dl>
                <dd><div class="positive-rating"></div><h5>Positive:</h5> <%= positives(@profile) %></dd>
                <dd><div class="neutral-rating"></div><h5>Neutral:</h5>  <%= neutrals(@profile) %> </dd>
                <dd><div class="negative-rating"></div><h5>Negative:</h5>  <%= negatives(@profile) %></dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="large-8 columns left">
          <% if current_user.id == @profile.id %>
          <%= link_to_if current_user, "Edit Profile", edit_user_profile_path(current_user, current_user.profile), :class => "profile-edit" %>
          <% end %>
          <dl>
            <dd><strong>Nick</strong>: <%= @profile.user.nick %></dd>
            <dd><strong>Name</strong> <%= @profile.user.name %></dd>
            <dd><strong>Email</strong> <%= @profile.user.email %></dd>
            <dd><h2>Bio</h2> <p class="text-justify"><%= @profile.bio %></p></dd>
          </dl>
        </div>
      </div>
      <div class="row">
       <% if current_user.id == @profile.id %>
       <section class="large-12 large-centered columns profile">
        <dl class="tabs large-offset-2" data-tab>
          <dd class="active"><a href="#panel2-1"><h5>Your Ads:</h5></a></dd>
          <dd><a id="received-msgs" href="#panel2-2"><h5>Your Received Messages:</h5></a></dd>
          <dd><a id="sent-msgs" href="#panel2-3"><h5>Your Sent Messages:</h5></a></dd>
        </dl>
        <div class="tabs-content large-12">
          <div class="content active" id="panel2-1">
            <div class="row">
              <div id="ads" class="large-12 large-centered columns profile-table">
                <table class="large-11 large-centered columns">
                  <thead>
                    <tr>
                      <th width="100">Ad Id</th>
                      <th width="350">Title</th>
                      <th width="150">Sold?</th>
                      <th width="150">Highest Bid</th>
                      <th width="150">Buy now price</th>
                      <th width="150">Top Bidder</th>
                      <th width="150">Edit</th>
                      <th width="150">Rate Buyer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @ads.each do |ad| %>
                    <tr>
                      <td><%= ad.id %></td>
                      <td>
                        <% if ad.active? %>
                          <%= link_to ad.title, user_ad_path(:user_id => current_user.id, :id => ad.id) %>
                        <% else %>
                          <%= "Ad Sold or Expired" %>
                        <% end %>
                      </td>
                      <td><%= ad.sold? ? "Yes" : ad.active? ? "On Sale yet!" : "No" %></td>
                      <td><%= ad.top_bid %></td>
                      <td><%= ad.buy_now_price != 0 ? ad.buy_now_price : "N/A" %></td>
                      <td><%= link_to ad.top_bidder.nick, user_profiles_path(ad.top_bidder.id) unless current_user.id == ad.top_bidder.id %></td>
                      <% if ad.active? %>
                        <td><%= link_to "Edit Ad", edit_user_ad_path(:user_id => current_user.id, :id => ad.id) %></td>
                      <% else %>
                        <td>This Ad has expired</td>
                      <% end %>
                      <td><% if ad.sold? && ad.top_bidder.id != ad.user.id %>
                        <a href="#" id="rate-modal">Rate Sale</a>
                      <% end %></td>
                    </tr>
                      <div id="myModal" data-rateable-id="<%= ad.id %>" data-rateable-type="<%= ad.class.name %>" data-ad-id="<%= ad.id %>" class="reveal-modal" data-reveal>
                        <div id="container-<%= ad.id %>">
                        <h3>Rate the transaction with <%= ad.top_bidder.nick %></h3>
                        <p>Please, give a rate to the transaction for this Ad, depending on the ease of it.</p>
                         <%= select_tag "rating[rate]", options_for_select(rate, params[:rate]), :prompt => "Select Rate" %>
                         <%= text_field :rating, :comment, :placeholder => "Insert your comment", :id => "rating_comment_#{ad.top_bidder.id}"  %>
                        <a class="close-reveal-modal">&#215;</a>
                        <a id="ad-rate" data-rateable-id="<%= ad.id %>" data-rateable-type="<%= ad.class.name %>" href="#">Rate this transaction</a>
                        </div>
                      </div>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="content large-12" id="panel2-2">
              <div id="received" class="large-12 large-centered columns profile-table">
                <table class="large-11 large-centered columns">
                  <thead>
                    <tr>
                      <th>Subject</th>
                      <th width="150">Related Ad</th>
                      <th width="150">Sender</th>
                      <th width="150">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @profile.user.received_messages.each do |message| %>
                    <tr id="<%= message.id %>">
                      <td><%= link_to message.subject, messages_path(message, :id => message.id) %></td>
                      <td><%= message.ad.title %></td>
                      <td><%= link_to User.find(message.from_id).nick, user_profiles_path(User.find(message.from_id)) %></td>
                      <td><a href="#" data="<%= message.id %>" class="delete-message">Delete</a></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="content large-12" id="panel2-3">
              <div id="sent" class="large-12 large-centered columns profile-table">
                <table class="large-11 large-centered columns">
                  <thead>
                    <tr>
                      <th>Subject</th>
                      <th width="150">Related Ad</th>
                      <th width="150">Sent to</th>
                      <th width="150">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @profile.user.sent_messages.each do |message| %>
                    <tr id="<%= message.id %>">
                      <td><%= message.subject %></td>
                      <td><%= message.ad.title %></td>
                      <td><%= link_to User.find(message.to_id).nick, user_profiles_path(User.find(message.to_id)) %></td>
                      <td><a href="#" data="<%= message.id %>" class="delete-message">Delete</a></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </section>
      <% end %>
    </div>
  </section>
</div>