<div class="row">
  <h1><strong><em><%= @profile.user.nick %></em></strong> Profile</h1>
  <section class="large-12 large-centered columns profile">
    <div class="row">
      <div class="medium-3 columns">
        <%= image_tag gravatar_picture_url(@profile.user, 250), :class => "profile-picture right" %>
      </div>
      <div class="large-8 columns left">
        <% if current_user.id == @profile.id %>
        <%= link_to_if current_user, "Edit Profile", edit_user_profile_path(current_user, current_user.profile), :class => "profile-edit" %>
        <% end %>
        <dl>
          <dd><strong>Nick</strong>: <%= @profile.user.nick %></dd>
          <dd><strong>Name</strong> <%= @profile.user.name %></dd>
          <dd><strong>Email</strong> <%= @profile.user.email %></dd>
          <dd><h2>Bio</h2> <p class="text-justify"><%= @profile.bio %></p></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <section class="large-10 large-centered columns profile">
        <dl class="tabs large-offset-1" data-tab>
          <dd class="active"><a href="#panel2-1"><h5>Your Ads:</h5></a></dd>
          <dd><a href="#panel2-2"><h5>Your Received Messages:</h5></a></dd>
          <dd><a href="#panel2-3"><h5>Your Sent Messages:</h5></a></dd>
        </dl>
        <div class="tabs-content large-10 large-offset-1">
          <div class="content active" id="panel2-1">
             <% if current_user.id == @profile.id %>
              <div class="row">
                <div id="ads" class="large-12 large-centered columns profile-table">
                  <table class="large-11 large-centered columns">
                    <thead>
                      <tr>
                        <th width="200">Ad Id</th>
                        <th>Title</th>
                        <th width="150">Highest Bid</th>
                        <th width="150">Buy now price</th>
                        <th width="150">Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @ads.each do |ad| %>
                      <tr>
                        <td><%= ad.id %></td>
                        <td><%= link_to ad.title, user_ad_path(:user_id => current_user.id, :id => ad.id) %></td>
                        <td><%= ad.top_bid %></td>
                        <td><%= ad.buy_now_price != 0 ? ad.buy_now_price : "N/A" %></td>
                        <% if ad.active? %>
                        <td><%= link_to "Edit Ad", edit_user_ad_path(:user_id => current_user.id, :id => ad.id) %></td>
                        <% else %>
                        <td>This Ad has expired</td>
                        <% end %>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          </div>
          <div class="content" id="panel2-2">
            <% if current_user.id == @profile.id %>
              <div class="row">
                <div id="received" class="large-12 large-centered columns profile-table">
                  <table class="large-11 large-centered columns">
                    <thead>
                      <tr>
                        <th>Subject</th>
                        <th width="150">Related Ad</th>
                        <th width="150">Sender</th>
                        <th width="150">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @profile.user.received_messages.each do |message| %>
                      <tr id="<%= message.id %>">
                        <td><%= link_to message.subject, messages_path(message, :id => message.id) %></td>
                        <td><%= message.ad.title %></td>
                        <td><%= link_to User.find(message.from_id).nick, user_profiles_path(User.find(message.from_id)) %></td>
                        <td><a href="#" data="<%= message.id %>" class="delete-message">Delete</a></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          </div>
          <div class="content" id="panel2-3">
            <% if current_user.id == @profile.id %>
              <div class="row">
                <div id="sent" class="large-12 large-centered columns profile-table">
                  <table class="large-11 large-centered columns">
                    <thead>
                      <tr>
                        <th>Subject</th>
                        <th width="150">Related Ad</th>
                        <th width="150">Sent to</th>
                        <th width="150">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @profile.user.sent_messages.each do |message| %>
                      <tr id="<%= message.id %>">
                        <td><%= message.subject %></td>
                        <td><%= message.ad.title %></td>
                        <td><%= link_to User.find(message.to_id).nick, user_profiles_path(User.find(message.to_id)) %></td>
                        <td><a href="#" data="<%= message.id %>" class="delete-message">Delete</a></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>