<h1>CarSeekers</h1>

<h3><%=  "Hello, " + current_user.nick  if current_user %></h3>
</br>
<%= link_to "Sign in with your Google account", user_omniauth_authorize_path(:google_oauth2) %>
||
<%= link_to "Sign up with your Google account", user_omniauth_authorize_path(:google_oauth2) %>
||
<%= link_to "Sign up", new_user_registration_path %>
||
<%= link_to "Sign in", new_user_session_path %>
||
<%= link_to "Sign out", destroy_user_session_path %>
